In [3]:
import pandas as pd


df = pd.read_csv("timeline.csv", encoding='cp949')
df

   video1  video2  video3  video4  video5  video6  video7
0     883     639     632     717     591     433     869
1    2065    1447    1220    1675     968    1131    1735
2    2342    2128    1522    1919    2088    1822    2175
3    2616    2770    1759    3021    2528    2710    3049
4    3116    3389    2616    3272    3114       0    3272

In [4]:
df.to_dict('list')

{'video1': [883, 2065, 2342, 2616, 3116],
 'video2': [639, 1447, 2128, 2770, 3389],
 'video3': [632, 1220, 1522, 1759, 2616],
 'video4': [717, 1675, 1919, 3021, 3272],
 'video5': [591, 968, 2088, 2528, 3114],
 'video6': [433, 1131, 1822, 2710, 0],
 'video7': [869, 1735, 2175, 3049, 3272]}